/biz.bi.casemaker.core/bin/biz/bi/cmcore/*.class
/biz.bi.casemaker.core/bin/biz/bi/cmcore/model/*.class
/biz.bi.casemaker.core/bin/biz/bi/cmcore/model/cmcommands/*.class
/biz.bi.casemaker.core/bin/biz/bi/cmcore/model/commands/*.class
/biz.bi.casemaker.core/bin/biz/bi/cmcore/model/impl/*.class
/biz.bi.casemaker.core/bin/biz/bi/cmcore/model/util/*.class
/biz.bi.casemaker.core/bin/biz/bi/cmcore/policies/*.class
/biz.bi.casemaker.core/bin/biz/bi/cmcore/provider/*.class
/biz.bi.vbr/bin/biz/bi/vbr/*.class
/biz.bi.vbr/bin/biz/bi/vbr/commands/*.class
/biz.bi.vbr/bin/biz/bi/vbr/dialogs/*.class
/biz.bi.vbr/bin/biz/bi/vbr/gef/editors/*.class
/biz.bi.vbr/bin/biz/bi/vbr/gef/editors/tools/*.class
/biz.bi.vbr/bin/biz/bi/vbr/gef/editparts/*.class
/biz.bi.vbr/bin/biz/bi/vbr/gef/figures/*.class
/biz.bi.vbr/bin/biz/bi/vbr/gef/policies/*.class
/biz.bi.vbr/bin/biz/bi/vbr/impl/*.class
/biz.bi.vbr/bin/biz/bi/vbr/presentation/*.class
/biz.bi.vbr/bin/biz/bi/vbr/provider/*.class
/biz.bi.vbr/bin/biz/bi/vbr/util/*.class
/biz.bi.vbr/bin/biz/bi/vbr/vbrvm/*.class
/biz.bi.vbr/bin/biz/bi/vbr/vbrvm/commands/*.class
/biz.bi.vbr/bin/biz/bi/vbr/vbrvm/impl/*.class
/biz.bi.vbr/bin/biz/bi/vbr/vbrvm/presentation/*.class
/biz.bi.vbr/bin/biz/bi/vbr/vbrvm/provider/*.class
/biz.bi.vbr/bin/biz/bi/vbr/vbrvm/util/*.class
/biz.bi.vtcd/bin/biz/bi/vtcd/dialogs/*.class
/biz.bi.vtcd/bin/biz/bi/vtcd/editparts/*.class
/biz.bi.vtcd/bin/biz/bi/vtcd/editpolicies/*.class
/biz.bi.vtcd/bin/biz/bi/vtcd/figures/*.class
/biz.bi.vtcd/bin/biz/bi/vtcd/gef/editors/*.class
/biz.bi.vtcd/bin/biz/bi/vtcd/gef/editors/actions/*.class
/biz.bi.vtcd/bin/biz/bi/vtcd/gef/editors/tools/*.class
/biz.bi.vtcd/bin/biz/bi/vtcd/gef/editors/domains/*.class
/biz.bi.vtcd/bin/biz/bi/vtcd/gef/editors/inputs/*.class
/biz.bi.vtcd/bin/biz/bi/vtcd/gef/outline/*.class
/biz.bi.vtcd/bin/biz/bi/vtcd/model/*.class
/biz.bi.vtcd/bin/biz/bi/vtcd/model/commands/*.class
/biz.bi.vtcd/bin/biz/bi/vtcd/model/impl/*.class
/biz.bi.vtcd/bin/biz/bi/vtcd/model/properties/*.class
/biz.bi.vtcd/bin/biz/bi/vtcd/model/util/*.class
/biz.bi.vtcd/bin/biz/bi/vtcd/policies/*.class
/biz.bi.vtcd/bin/biz/bi/vtcd/provider/*.class
/biz.bi.vtcd/bin/biz/bi/vtcd/tests/*.class
/biz.bi.vtcd/bin/biz/bi/vtcd/views/*.class
/biz.bi.vtcd/bin/biz/bi/vtcd/wizards/*.class
/biz.bi.vtcd/bin/biz/bi/vtcd/perspective/*.class
/biz.bi.vtcd/bin/com/cloudgarden/resource/*.class
